./astro
**/.DS_Store
**/.dockerignore
**/.env
**/.git
**/.gitignore
./project
./settings
./vercel
./vs
./vscode
./bin
./charts
./docker-compose*
./compose.y*ml
./Dockerfile*
./node_modules
./npm-debug.log
LICENSE
README.md