---
import { getCollection, type CollectionEntry } from 'astro:content'
import { BLOG } from '@/lib/site'
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
import LinkItem from '@/components/LinkItem.astro'
import { groupEntriesByYear, getSortedYears } from '@/utils/utils.ts'
import ContentSection from '@/components/ContentSection.astro'

const data = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)

type Posts = Record<string, CollectionEntry<'blog'>[]>
const posts: Posts = groupEntriesByYear<'blog'>(data)

const years = getSortedYears(posts)
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <section
      class="relative mb-16 px-2 pt-28 text-sm sm:mb-28 sm:pt-40 sm:text-base">
      <header class="mb-16 px-2">
        <h1 class="text-xl font-bold sm:text-4xl">Blog</h1>
      </header>

      <div>
        {
          years.map((year) => (
            <ContentSection
              title={year}
              items={posts[year].map((post) => ({
                href: `/blog/${post.id}`,
                name: post.data.title,
                description: post.data.description,
              }))}
            />
          ))
        }
      </div>
    </section>
  </Container>
</PageLayout>
