---
import DeskSetup from '@/assets/images/desk-setup.webp'
import Container from '@/components/Container.astro'
import UsesFilter from '@/components/UsesFilter'
import PageLayout from '@/layouts/PageLayout.astro'
import { USES } from '@/lib/site'
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'

const uses = await getCollection('uses')
---

<PageLayout title={USES.TITLE} description={USES.DESCRIPTION}>
  <Container>
    <section
      class="relative mb-16 pt-28 text-sm sm:mb-28 sm:pt-40 sm:text-base">
      <header class="mb-8">
        <h1 class="mb-4 text-xl font-bold sm:text-4xl">Uses</h1>
        <p class="mb-4">
          Being a total tech nerd 🤓, I am always trying new technologies /
          products! Below is a list of all the the HW / SW I use on a daily
          basis. Please note that some of the links are affiliate links.
        </p>
        <p class="mb-4">
          I also have my{' '}
          <a
            href="https://github.com/chris-nowicki/dotfiles"
            target="_blank"
            class="font-bold text-primary hover:underline">
            dotfiles
          </a>
          {' and '}
          <a
            href="https://github.com/chris-nowicki/mac-setup"
            target="_blank"
            class="font-bold text-primary hover:underline">
            mac-setup{' '}
          </a>
          repositories that go into more depth on the tools I use.
        </p>
      </header>

      <Picture
        src={DeskSetup}
        width={768}
        height={700 * 0.75}
        class="aspect-video w-full rounded-lg"
        alt="Desk Setup"
      />

      <UsesFilter uses={uses} client:load />
    </section>
  </Container>
</PageLayout>
