---
import { USES } from '@/lib/site'
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/Container.astro'
---

<PageLayout title={USES.TITLE} description={USES.DESCRIPTION}>
  <Container>
    <section
      class="relative mb-16 pt-28 text-sm sm:mb-28 sm:pt-40 sm:text-base">
      <header class="mb-4">
        <h1 class="text-xl font-bold sm:text-2xl">Uses</h1>
      </header>
    </section>
  </Container>
</PageLayout>
