@import 'tailwindcss' source('../../src');

@theme {
  --font-sans: 'Inter', 'Sans';
  --font-cursive: 'Reenie Beanie', 'cursive';

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 240 10% 3.9%; /* slate-950 */
    --primary: 240 5.9% 10%; /* slate-900 */
    --primary-foreground: 0 0% 98%; /* slate-50 */
    --secondary: 240 4.8% 95.9%; /* slate-100 */
    --secondary-foreground: 240 5.9% 10%; /* slate-900 */
    --muted: 240 4.8% 95.9%; /* slate-100 */
    --muted-foreground: 240 3.8% 46.1%; /* slate-500 */
    --accent: 240 4.8% 95.9%; /* slate-100 */
    --accent-foreground: 240 5.9% 10%; /* slate-900 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* slate-50 */
    --border: 240 5.9% 90%; /* slate-200 */
    --input: 240 5.9% 90%; /* slate-200 */
    --ring: 240 10% 3.9%; /* slate-900 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%; /* slate-950 */
    --foreground: 0 0% 98%; /* slate-50 */
    --primary: 0 0% 98%; /* slate-50 */
    --primary-foreground: 240 5.9% 10%; /* slate-900 */
    --secondary: 240 3.7% 15.9%; /* slate-800 */
    --secondary-foreground: 0 0% 98%; /* slate-50 */
    --muted: 240 3.7% 15.9%; /* slate-800 */
    --muted-foreground: 240 5% 64.9%; /* slate-400 */
    --accent: 240 3.7% 15.9%; /* slate-800 */
    --accent-foreground: 0 0% 98%; /* slate-50 */
    --destructive: 0 62.8% 30.6%; /* red-800 */
    --destructive-foreground: 0 0% 98%; /* slate-50 */
    --border: 240 3.7% 15.9%; /* slate-800 */
    --input: 240 3.7% 15.9%; /* slate-800 */
    --ring: 240 4.9% 83.9%; /* slate-300 */
  }

  /* Base styles for HTML and Body */
  html,
  body {
    @apply bg-background text-foreground size-full scroll-smooth font-sans antialiased;
  }

  html {
    overflow-y: scroll;
  }

  body {
    @apply flex flex-col;
  }

  /* Global border styles */
  * {
    @apply border-border;
  }

  /* Additional body styles */
  body {
    @apply bg-background text-foreground;
  }
}

@utility prose {
  /* Headings */
  h1 {
    @apply scroll-m-28 text-4xl font-extrabold tracking-tight md:text-5xl;
  }

  h2 {
    @apply scroll-m-28 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-28 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-28 text-xl font-semibold tracking-tight;
  }

  /* Lists */
  ul {
    @apply marker:text-primary my-6 ml-6 list-disc marker:font-bold [&>li]:mt-2;
  }

  ol {
    @apply marker:text-primary my-6 ml-6 list-decimal marker:font-bold [&>li]:mt-2;
  }

  /* Text elements */
  p {
    @apply mb-6 leading-7 not-first:mt-6;
  }

  blockquote {
    @apply border-primary mt-6 border-l-4 pl-6 italic sm:border-l-8;
  }

  /* Code blocks */
  pre {
    @apply overflow-auto rounded-md p-2;
  }

  code {
    @apply my-1 border-0 text-sm leading-normal! md:text-sm;
  }

  /* Subheading anchors */
  .subheading-anchor {
    @apply text-foreground relative no-underline;

    &::before {
      @apply text-muted-foreground/40 absolute top-0 -left-[30px] opacity-0 transition-opacity content-['#'];
    }

    &:hover::before {
      @apply opacity-100;
    }
  }
}

@layer components {
  /* Layout Components */
  main {
    @apply flex-1;
  }

  nav {
    @apply fixed top-0 right-0 left-0 z-40 pt-5 pb-1;
    @apply saturate-200 backdrop-blur-xs;
  }
}
