@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 240 10% 3.9%; /* slate-950 */
    --primary: 240 5.9% 10%; /* slate-900 */
    --primary-foreground: 0 0% 98%; /* slate-50 */
    --secondary: 240 4.8% 95.9%; /* slate-100 */
    --secondary-foreground: 240 5.9% 10%; /* slate-900 */
    --muted: 240 4.8% 95.9%; /* slate-100 */
    --muted-foreground: 240 3.8% 46.1%; /* slate-500 */
    --accent: 240 4.8% 95.9%; /* slate-100 */
    --accent-foreground: 240 5.9% 10%; /* slate-900 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* slate-50 */
    --border: 240 5.9% 90%; /* slate-200 */
    --input: 240 5.9% 90%; /* slate-200 */
    --ring: 240 5.9% 10%; /* slate-900 */
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%; /* slate-950 */
    --foreground: 0 0% 98%; /* slate-50 */
    --primary: 0 0% 98%; /* slate-50 */
    --primary-foreground: 240 5.9% 10%; /* slate-900 */
    --secondary: 240 3.7% 15.9%; /* slate-800 */
    --secondary-foreground: 0 0% 98%; /* slate-50 */
    --muted: 240 3.7% 15.9%; /* slate-800 */
    --muted-foreground: 240 5% 64.9%; /* slate-400 */
    --accent: 240 3.7% 15.9%; /* slate-800 */
    --accent-foreground: 0 0% 98%; /* slate-50 */
    --destructive: 0 62.8% 30.6%; /* red-800 */
    --destructive-foreground: 0 0% 98%; /* slate-50 */
    --border: 240 3.7% 15.9%; /* slate-800 */
    --input: 240 3.7% 15.9%; /* slate-800 */
    --ring: 240 4.9% 83.9%; /* slate-300 */
  }
  html,
  body {
    @apply size-full scroll-smooth bg-background font-sans text-foreground antialiased;
  }

  body {
    @apply flex flex-col;
  }
}

@layer components {
  .prose {
    /* Headings */
    h1 {
      @apply scroll-m-28 text-4xl font-extrabold tracking-tight md:text-5xl;
    }

    h2 {
      @apply scroll-m-28 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
    }

    h3 {
      @apply scroll-m-28 text-2xl font-semibold tracking-tight;
    }

    h4 {
      @apply scroll-m-28 text-xl font-semibold tracking-tight;
    }

    /* Lists */
    ul {
      @apply my-6 ml-6 list-disc marker:font-bold marker:text-primary [&>li]:mt-2;
    }

    ol {
      @apply my-6 ml-6 list-decimal marker:font-bold marker:text-primary [&>li]:mt-2;
    }

    /* Text elements */
    p {
      @apply mb-6 leading-7 [&:not(:first-child)]:mt-6;
    }

    blockquote {
      @apply mt-6 border-l-4 border-primary pl-6 italic sm:border-l-8;
    }

    /* Code blocks */
    pre {
      @apply overflow-auto rounded-md p-2;
    }

    code {
      @apply my-1 border-0 text-sm !leading-normal md:text-sm;
    }

    /* Subheading anchors */
    .subheading-anchor {
      @apply relative text-foreground no-underline;

      &::before {
        @apply absolute -left-[30px] top-0 text-muted-foreground/40 opacity-0 transition-opacity content-['#'];
      }

      &:hover::before {
        @apply opacity-100;
      }
    }
  }
}

main {
  @apply flex-1;
}

nav {
  @apply fixed left-0 right-0 top-0 z-50 pb-1 pt-5;
  @apply saturate-200 backdrop-blur-sm;
}
