@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 240 10% 3.9%; /* slate-950 */
    --primary: 240 5.9% 10%; /* slate-900 */
    --primary-foreground: 0 0% 98%; /* slate-50 */
    --secondary: 240 4.8% 95.9%; /* slate-100 */
    --secondary-foreground: 240 5.9% 10%; /* slate-900 */
    --muted: 240 4.8% 95.9%; /* slate-100 */
    --muted-foreground: 240 3.8% 46.1%; /* slate-500 */
    --accent: 240 4.8% 95.9%; /* slate-100 */
    --accent-foreground: 240 5.9% 10%; /* slate-900 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* slate-50 */
    --border: 240 5.9% 90%; /* slate-200 */
    --input: 240 5.9% 90%; /* slate-200 */
    --ring: 240 5.9% 10%; /* slate-900 */
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%; /* slate-950 */
    --foreground: 0 0% 98%; /* slate-50 */
    --primary: 0 0% 98%; /* slate-50 */
    --primary-foreground: 240 5.9% 10%; /* slate-900 */
    --secondary: 240 3.7% 15.9%; /* slate-800 */
    --secondary-foreground: 0 0% 98%; /* slate-50 */
    --muted: 240 3.7% 15.9%; /* slate-800 */
    --muted-foreground: 240 5% 64.9%; /* slate-400 */
    --accent: 240 3.7% 15.9%; /* slate-800 */
    --accent-foreground: 0 0% 98%; /* slate-50 */
    --destructive: 0 62.8% 30.6%; /* red-800 */
    --destructive-foreground: 0 0% 98%; /* slate-50 */
    --border: 240 3.7% 15.9%; /* slate-800 */
    --input: 240 3.7% 15.9%; /* slate-800 */
    --ring: 240 4.9% 83.9%; /* slate-300 */
  }
}

html,
body {
  @apply bg-background text-foreground size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
}

main {
  @apply flex-1;
}
