---
import ArrowSquiggle from '@/assets/icons/arrow-squiggle.svg'
import Contact from '@/components/Contact.astro'
import ContentSection from '@/components/ContentSection.astro'
import CustomLink from '@/components/CustomLink.astro'
import Link from '@/components/Link.astro'
import { HOME, NUMBER_OF_ENTRIES } from '@/lib/site'
import { getCollection } from 'astro:content'
import Container from '../components/Container.astro'
import PageLayout from '../layouts/PageLayout.astro'

const projects = (await getCollection('projects'))
  .sort((a, b) => b.data.id.valueOf() - a.data.id.valueOf())
  .slice(0, NUMBER_OF_ENTRIES)

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, NUMBER_OF_ENTRIES)

const speaking = (await getCollection('speaking'))
  .sort((a, b) => b.data.id.valueOf() - a.data.id.valueOf())
  .slice(0, NUMBER_OF_ENTRIES)
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section
      class="relative mb-16 pt-28 text-sm sm:mb-40 sm:pt-54 sm:text-base">
      <header class="mb-4">
        <h1 class="text-xl font-bold sm:text-4xl"><span class="text-blue-600">Hello</span>, I'm Chris Nowicki</h1>
        <p>
          Software Engineering Lead at
          <Link
            to="https://www.thisdot.co"
            ariaLabel="Visit the This Dot Labs website"
            >This Dot Labs
          </Link>.
        </p>
      </header>

      <div class="space-y-8">
        <p>
          When I'm not leading engineering teams, you'll find me tinkering with
          new tech, optimizing my productivity setup (<em
            >while keeping it minimal</em
          >), or hunting for the perfect cheeseburger.
        </p>

        <blockquote class="font-cursive text-xl sm:text-2xl">
          Oh, and coffee. Lots of coffee.
        </blockquote>
      </div>

      <div class="mt-8 flex flex-wrap gap-2 sm:gap-4">
        <CustomLink href="/contact" size="lg" class="uppercase bg-blue-600"
          >Contact Me</CustomLink
        >
        <CustomLink
          href="https://buymeacoffee.com/chrisnowicki"
          variant="outline"
          target="_blank"
          size="lg"
          class="uppercase">Buy Me A Coffee</CustomLink
        >
      </div>

      <ArrowSquiggle
        width={45}
        height={45}
        class="absolute right-92 bottom-15 hidden rotate-90 transform md:block"
      />
    </section>

    <div>
      <ContentSection
        title="Projects"
        items={projects.map((project) => ({
          href: project.data.gitHubUrl,
          name: project.data.name,
          description: project.data.description,
          external: true,
        }))}
      />

      <ContentSection
        title="Latest Posts"
        viewAllLink={{ href: '/blog', text: 'View all posts' }}
        items={posts.map((post) => ({
          href: `/blog/${post.id}`,
          name: post.data.title,
          description: post.data.description,
        }))}
      />

      <ContentSection
        title="Speaking"
        viewAllLink={{ href: '/speaking', text: 'View all engagements' }}
        items={speaking.map((engagement) => ({
          href: engagement.data.videoUrl,
          name: engagement.data.title,
          description: engagement.data.description,
          external: true,
        }))}
        class="mb-0 sm:mb-0"
      />
    </div>
  </Container>
  <Contact />
</PageLayout>
