---
import Layout from '../layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const projects = await getCollection('projects');
const speaking = await getCollection('speaking');

---

<Layout>
	<ul class="flex flex-col gap-2">
		{projects.map((project: CollectionEntry<'projects'>) => (
			<li class="flex flex-col">
				<h2>{project.data.name}</h2>
				<p>{project.data.description}</p>
			</li>
		))}
	</ul>

	<ul class="flex flex-col gap-2">
		{speaking.map((engagement: CollectionEntry<'speaking'>) => (
			<li class="flex flex-col">
				<h2>{engagement.data.title}</h2>
				<p>{engagement.data.description}</p>
			</li>
		))}
	</ul>

</Layout>
