---
import { cn } from '@/utils/utils'

interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div
  class={cn('mx-auto w-full max-w-2xl px-6 sm:px-0', className)}>
  <slot />
</div>
