---
import Container from './Container.astro'
import GitHub from '@/assets/icons/github.svg'
import LinkedIn from '@/assets/icons/linkedin.svg'
import X from '@/assets/icons/x.svg'
import Twitch from '@/assets/icons/twitch.svg'
import SquiggleLine from '@/assets/icons/needle-underline.svg'

const socialIconClass =
  'hover:scale-110 transition-all duration-200 ease-in-out'
---

<Container>
  <section
    class="mb-5 mt-20 w-full rounded-lg bg-primary-foreground p-4 text-sm sm:text-base"
    id="contact">
    <header class="relative mb-8 flex justify-between">
      <SquiggleLine
        class="absolute -bottom-2 left-1 w-28 sm:-bottom-3 sm:w-32"
      />
      <h2 class="text-lg font-bold sm:text-xl">Let's Connect</h2>
    </header>

    <p>
      If you want to get in touch with me about something or just to say, hi 👋,
      reach out on social media or send me an email at <a
        href="mailto:hello@chrisnowicki.dev"
        class="text-blue-600 hover:underline">hello@chrisnowicki.dev</a
      >.
    </p>

    <div class="mt-8 flex flex-wrap gap-4">
      <a
        href="https://twitter.com/iamwix"
        target="_blank"
        rel="noopener noreferrer"
        class={socialIconClass}>
        <X size={24} />
      </a>
      <a
        href="https://www.linkedin.com/in/chris-nowicki/"
        target="_blank"
        rel="noopener noreferrer"
        class={socialIconClass}>
        <LinkedIn size={24} />
      </a>
      <a
        href="https://github.com/chris-nowicki"
        target="_blank"
        rel="noopener noreferrer"
        class={socialIconClass}>
        <GitHub size={24} />
      </a>
      <a
        href="https://www.twitch.tv/chriswix"
        target="_blank"
        rel="noopener noreferrer"
        class={socialIconClass}>
        <Twitch size={24} />
      </a>
    </div>
  </section>
</Container>
