---
import { cn } from '@/utils/utils'
import { buttonVariants, type ButtonVariants } from '../lib/buttonVariants'

type Variant = NonNullable<ButtonVariants['variant']>
type Size = NonNullable<ButtonVariants['size']>

export interface Props {
  class?: string
  disabled?: boolean
  href?: string
  target?: string
  rel?: string
  variant?: Variant
  size?: Size
}

const {
  variant = 'default',
  size = 'default',
  class: className,
  disabled = false,
  href,
  target = '_self',
  rel,
  ...rest
} = Astro.props

const classes = cn(buttonVariants({ variant, size, className }))

// For links, add rel="noopener noreferrer" when target="_blank"
const linkRel = target === '_blank' ? 'noopener noreferrer' : rel
---

<a href={href} class={classes} target={target} rel={linkRel} {...rest}>
  <slot />
</a>
