---
import Container from './Container.astro'
import { navLinks } from '@/lib/site'

const footerLinks = [{ href: '/', text: 'home' }, ...navLinks]
---

<Container>
  <footer class="mb-4 mt-12 sm:flex-row sm:gap-0">
    <div class="flex w-full flex-col items-start text-sm sm:w-2/3">
      <p>
        <strong>Sitemap:</strong>

        {
          footerLinks.map((link, index, array) => (
            <span>
              <a href={link.href} class="hover:text-blue-600">
                {link.text}
              </a>
              {index < array.length - 1 && ' / '}
            </span>
          ))
        }
      </p>
      <p>
        <strong>Built With:</strong> Astro, Svelte, TypeScript, Tailwind, and lots of <span
          class="hover:animate-pulse">❤</span
        >
      </p>
    </div>
  </footer>
</Container>
