---
import VercelIcon from '@/assets/icons/vercel.svg'
import Container from './Container.astro'

const links = [
  { href: '/', label: 'home' },
  { href: '/now', label: 'now' },
  { href: '/blog', label: 'blog' },
  { href: '/speaking', label: 'speaking' },
  { href: '/uses', label: 'uses' },
]
---

<Container>
  <footer
    class="mb-4 mt-12 flex flex-col items-center justify-between gap-8 sm:flex-row sm:gap-0">
    <div class="flex w-full flex-col items-start text-sm sm:w-2/3">
      <p>
        <strong>Sitemap:</strong>

        {
          links.map((link, index, array) => (
            <span>
              <a href={link.href} class="hover:text-blue-500 hover:underline">
                {link.label}
              </a>
              {index < array.length - 1 && ' / '}
            </span>
          ))
        }
      </p>
      <p>
        <strong>Built With:</strong> Astro, TypeScript, Tailwind, and lots of <span
          class="hover:animate-pulse">❤</span
        >
      </p>
    </div>
    <div class="flex items-center gap-2">
      <span>⚡️ by vercel</span>
      <a
        href="https://vercel.com"
        target="_blank"
        aria-label={`Vercel's website`}
        rel="noopener noreferrer">
        <VercelIcon
          width={24}
          class="hover:animate-[spin_1s_linear_1]"
          aria-hidden="true"
        />
      </a>
    </div>
  </footer>
</Container>
