---
import { cn } from '@/utils/utils'

interface Props {
  ariaLabel: string
  class?: string
  to: string
  icon?: boolean
}

const { ariaLabel, to, icon = false, class: classProps } = Astro.props
---

<a
  href={to}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
  class={cn(!icon && 'hover:text-blue-600 hover:underline font-bold', classProps)}>
  <slot />
  <span class="sr-only"> (opens in new tab)</span>
</a>
