---
import { cn } from '@/utils/utils'

interface Props {
  ariaLabel: string
  class?: string
  href: string
  icon?: boolean
}

const { ariaLabel, href, icon = false, class: classProps } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
  class={cn(!icon && 'text-blue-600 hover:underline', classProps)}>
  <slot />
  <span class="sr-only"> (opens in new tab)</span>
</a>
