---
import ArrowRight from '@/assets/icons/arrow-right.svg'
import ArrowRightUp from '@/assets/icons/arrow-right-up.svg'

interface Props {
  href: string
  name: string
  description: string
  external?: boolean
}

const { href, name, description, external = false }: Props = Astro.props
---

<a
  href={href}
  target={external ? '_blank' : '_self'}
  rel={external ? 'noopener noreferrer' : ''}
  class="group flex items-center justify-between border-b p-2 transition-colors duration-200 ease-in-out hover:bg-primary-foreground first:hover:rounded-t-lg last:hover:rounded-b-lg">
  <div class="mr-4">
    <h3 class="text-sm font-semibold sm:text-base">{name}</h3>
    <p class="text-foreground-muted text-sm sm:text-base">{description}</p>
  </div>

  {
    external ?
      <ArrowRightUp
        fill="currentColor"
        class="mr-0 h-5 w-5 flex-shrink-0 text-primary/50 transition-all duration-200 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-primary sm:mr-2"
      />
    : <ArrowRight
        fill="currentColor"
        class="mr-0 h-5 w-5 flex-shrink-0 text-primary/50 transition-all duration-200 ease-in-out group-hover:translate-x-2 group-hover:text-primary sm:mr-2"
      />
  }
</a>
