---
import Container from './Container.astro'
import Underline from '@/assets/icons/needle-underline.svg'
import { cn } from '@/utils/utils'

const navLinks = [
  { href: '/now', text: 'now' },
  { href: '/blog', text: 'blog' },
  { href: '/speaking', text: 'speaking' },
  { href: '/uses', text: 'uses' },
]

const pathName = Astro.url.pathname.split('/')[1]
---

<nav>
  <Container>
    <div class="flex items-center justify-between text-muted-foreground sm:p-2">
      <a
        href="/"
        class="rounded-full border bg-white px-2 py-1 font-cursive transition-colors duration-300 hover:bg-primary-foreground hover:text-foreground sm:text-2xl"
        >CN</a
      >

      <ul class="flex list-none gap-4 font-cursive text-2xl sm:text-3xl">
        {
          navLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class={cn(
                  'group relative transition-colors duration-200 ease-in-out hover:text-foreground',
                  link.text === pathName ?
                    'text-foreground'
                  : 'text-muted-foreground'
                )}>
                {link.text}
                <Underline
                  class={cn(
                    'absolute bottom-0 left-0 transition-all duration-300 ease-in-out group-hover:block',
                    link.text === pathName ? 'block' : 'hidden'
                  )}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</nav>
