---
import Container from './Container.astro'
---

<Container>
  <nav
    class="text-muted-foreground py-6 flex w-full items-center justify-between text-md"
  >
    <a href="/" class="hover:text-foreground">{`{CN}`}</a>

    <ul class="flex list-none gap-4">
      <li>now</li>
      <li>blog</li>
      <li>speaking</li>
      <li>uses</li>
    </ul>
  </nav>
</Container>
