---
import Container from './Container.astro'

const links = [
  { href: '/now', text: 'now' },
  { href: '/blog', text: 'blog' },
  { href: '/speaking', text: 'speaking' },
  { href: '/uses', text: 'uses' },
]
---

<nav>
  <Container>
    <div class="flex items-center justify-between text-muted-foreground sm:p-2">
      <a
        href="/"
        class="rounded-full border bg-white px-2 py-1 font-cursive transition-colors duration-300 hover:bg-primary-foreground hover:text-foreground sm:text-2xl"
        >CN</a
      >

      <ul class="flex list-none gap-4 font-cursive text-2xl sm:text-3xl">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class="transition-colors duration-300 hover:text-foreground">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</nav>
